
		body{
			margin:0;
			padding:0;
			line-height:1.6;
			letter-spacing:1px;
			font-family:Verdana,Helvetica,sans-serif;
			font-size:12px;
			color:#333;
			background:#fff;
			height: 100%;
			position:relative;
			height:auto !important;
			min-height:100%;

		}
		table{
			text-align:center;
			margin:0 auto;
		}


/*-------------------ここまで共通---------------------*/







        header{
            width:100%;
            height:100px;
            line-height:30px;
        }

/*-------------------背景イメージ-----------------------*/
        .img{
            background-image: url("../images/danbo.jpg");
            width:100%;
            top:100px;
            bottom:50px;
        }

/*-------------------メニューバー-----------------------*/
        .bar {
		  width:100%;
		  text-align: center;
		  background-color: #333;
		}

		.bar a {
			text-decoration: none;
		  	color: #fff;
		  	font-weight: bold;
			margin:5%;
		}


/*-------------------タイトル-----------------------*/
        .title{
            font-family: 'Press Start 2P', cursive;
            font-size:80px;
            padding-top:50px;
            padding-bottom:30px;
            text-align: center;
        }

        .title-color{
        	text-decoration: none;
		  	color: black;
        }

/*-------------------検索-----------------------*/
        .kensaku{
            text-align: center;
			padding-bottom:20px;
        }

        .a{
        	padding-bottom:150px;
        }


/*------------------フッター-----------------------*/
		html{
		    height:100%;
		}
		footer {
		    background-image:url("../images/danbo.jpg");
		    position:absolute;
		    bottom: 0;
		    width: 100%;
		    height:120px;
		}
		main{
		    margin-top:10px;
		}

		.under{
		    font-family: 'Press Start 2P', cursive;
		    font-size:20px;
		    color:firebrick;
		    text-align: center;
		    padding-top:50px;
		    background-image:url("../images/danbo.jpg");
		}
		.guide ul{
		    display:flex;
		    margin:0;
		}
		.guide li{
		    list-style-type:none;
		    flex-grow: 1;
		    text-align:center;
		}


