/* --- リストエリア --- */
ul.thumbnail {
width: 80%; /* リストエリアの幅 */
margin: 0;
padding: 30px 0 0; /* リストエリアのパディング（上、左右、下） */
list-style-type: none;
margin-left:auto;
margin-right:auto;
}

/* --- リスト項目 --- */
ul.thumbnail li {
width: 320px; /* 項目の幅 */
float: left;
}

/* --- 項目内容 --- */
ul.thumbnail dl {
width: 280px; /* 内容の幅 */
margin: 0 auto; /* 内容のセンタリング */
font-size: 80%;
text-align:center;
}

/* --- 写真エリア --- */
ul.thumbnail dt {
/* height: 102px; */ /* 写真エリアの高さ（dt要素の高さを指定する場合） */
margin: 30px 0; /* 写真エリアの下マージン */
}
ul.thumbnail dt img {

}

/* --- キャプションエリア --- */
ul.thumbnail dd {
margin: 0 0 3px; /* キャプションエリアのマージン（上、左右、下） */
height: 6.5em; /* キャプションエリアの高さ */


margin:0;
padding:0;
text-align:left;
margin-right:auto;
border-collapse: collapse;
}

/* --- clearfix --- */
.clearFix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.clearFix {
min-height: 1px;
}

.list1{
border: 1px solid #b1b1b1;
border-radius: 20% ;
margin:0 0px 60px 60px;
box-shadow:1px 1px 5px #000;
background-image: url("../images/danbo.jpg");
}
.list1:hover {
    box-shadow:1px 1px 10px #000;
}

h1,h3{
	text-align:center;
}

.box1{

width:90%;
margin-left:auto;
margin-right:auto;
margin-top:30px;
margin-bottom:30px;
}

.list{
border-bottom: 1px solid #b1b1b1;
}

.ProductList{
	text-align:center;
	width:100%;
	margin-left:auto;
	margin-right:auto;

}

