table{
			width:600px;
			border-collapse:collapse;
			font-size:0.8em;
			border:1px #cccccc solid;
			}

th{
			border-left:6px solid #cccccc;
			/*Å™ç∂ë§ÇÃêF*/
			background-color:#efefef;
						width:150px;
			}

tr{
			padding:10px;
			border-top:1px solid #cccccc;
			height:40px;
			}

em{
			color:#ff0000;
			font-size:smaller;
			}

#userInfoCheck{
				background-color:#ff0000;
				color:#ffffff;
				padding-top:10px;
				width:150px;
				height:60px;
				border:10pxÅ@#000;
				margin-left:450px;
				}




#myPageButton1{
				padding-top:50px;
				background-color:#ffffff;
				color:#000000;
				font-size:3em;
				position:absolute;
				top:200px;
				left:300px;
				width:300px;
				height:300px;
				text-shadow: 1px 1px 0 #000,-1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000
				}

#myPageButton2{
				padding-top:50px;
				background-color:#ffffff;
				color:#000000;
				font-size:3em;
				position:absolute;
				top:200px;
				left:600px;
				width:300px;
				height:300px;
				text-shadow: 1px 1px 0 #000,-1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000
				}

#myPageButton3{
				padding-top:50px;
				background-color:#ffffff;
				color:#000000;
				font-size:3em;
				position:absolute;
				top:200px;
				left:900px;
				width:300px;
				height:300px;
				text-shadow: 1px 1px 0 #000,-1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000
				}
