@CHARSET "UTF-8";


/*新規ユーザー登録画面、ユーザー情報変更画面、お届け先情報変更画面で使用*/

.wideBox{
	width:900px;
	background-color:#ffffff;
	margin:0 auto;
}

table.userCreateTable{
			width:600px;
			border-collapse:collapse;
			font-size:0.8em;
			border:1px #cccccc solid;
			}

th.userCreateTh{
			border-left:6px solid #cccccc;
			/*↑左側の色*/
			background-color:#efefef;
						width:150px;
			}

tr.userCreateTr{
			padding:10px;
			border-top:1px solid #cccccc;
			height:40px;
			}

td.userCreateTd{
			text-align:left;
}

em.userCreateEm{
			color:#ff0000;
			font-size:smaller;
			}


 input[type="button"].userCreateButton,input[type="submit"].userCreateButton{
	width:200px;
	margin:0 auto;
	margin-left:550px;
	margin-top:10px;
	}


/*------------------------------------------------------------ マイページ用 -----------------------------------------------------------------------*/

input[type="submit"].myPageButton{
	float:left;
	width:280px;
	height:280px;
	margin:0 auto;
	background:#ffffff;
	color:#000000;
	font-size:2.7em;
	border:solid 5px #000000;
	margin-top:20px;
	margin-left:10px;
	margin-right:10px;

}

input[type="submit"].myPageButton.history{

	background-image:url("../images/history.png");
	background-repeat:no-repeat;
	background-size:270px 270px;

}

input[type="submit"].myPageButton.favorite{

	background-image:url("../images/star.png");
	background-repeat:no-repeat;
	background-size:270px 270px;
}

input[type="submit"].myPageButton.info{

	background-image:url("../images/infoChange.png");
	background-repeat:no-repeat;
	background-size:270px 270px;
}

.clear{
	clear: both;
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/

